.container {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
}

.danger {
  color: red;
}

.safe {
  color: green;
}

.alert {
  color: red;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.loading {
  text-align: center;
  margin-top: 100px;
  font-size: 1.5em;
}
